header {
  background-color: #0a8196;
  color: white;
  height: 60px;
  box-shadow: -2px 17px 13px -6px rgba(0,0,0,0.3);
}
header img.logo{
    max-width: 150px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ddd9ce;
  color: #3A3737;
  font-family: 'Roboto', sans-serif;
}

header .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  max-width: 1180px;
  margin: auto;
}

.logo {
  max-width: 150px;
}

header ul {
    list-style: none;
}

header ul li{
    display: inline-flex;
    margin-left: 14px;
    font-weight: bold;
}

a{
  text-decoration: none;
  color: white;
}

.toggle-button{
  position: absolute;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content:space-between;
  width:30px;
  height:21px;
}

.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.filtros{
  box-shadow: -2px 17px 13px -6px rgba(0,0,0,0.2);
}

.card{
  display: flex;
  margin-top: 10px;
  border-radius: 10px;
  border: solid #ef7d00;
  background-color: #fff;
  height: 100%;
  width: 100%;
  box-shadow: -2px 17px 13px -6px rgba(0,0,0,0.3);
}

table{
  text-align: center;
  width: 100%;
  padding: 10px;
}

.table-action tbody tr:nth-last-child(even){
  background-color: #f5f5f5;
}

th{
  border-bottom: solid #ef7d00;
}

#nota{
  width: 40px;
  height: 20px;
  font-size: 14px;
  margin: 2px;
  border: 2px solid #3A3737;
  border-radius: 4px;
}

.btn-alterar{
  background-color: #004070;
  height: 30px;
  color: white;
  font-weight: bold;
  border-radius: 4px;
}

.btn-salvar{
  background-color: #32cd32;
  height: 30px;
  color: white;
  font-weight: bold;
  border-radius: 4px;
}

footer{
  text-align: center;
}


@media (max-width:640px) {
.table-action thead {
    display: none;
}

.table-action tr {
  border-bottom: 1px solid #dddddd;
}

.table-action td {
  border: 0;
}

.table-action td:not(:first-child) {
  display: block;
}

.toggle-button{
  display:flex;
}
nav{
  display:none;
}
}


